p{
    color: grey;
    font-family:'Sans-serif', 'Arial', 'Helvetica';
    font-size: 20px;
    font-weight: normal;
    font-style: oblique;
    text-align: justify;
    text-decoration: none;
    line-height: 1.3;
    letter-spacing: 10px;
    text-transform: capitalize
}
h1{
    color: black;
    font-family:'Sans-serif', 'Arial', 'Helvetica';
    font-size: 50px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase
}
h2{
    color: darkgrey;
    font-family:'Sans-serif', 'Arial', 'Helvetica';
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    text-decoration: overline;
    line-height: 1.4;
    letter-spacing: 7px;
    text-transform: capitalize
}